<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Setting Page Title -->
		{% if title %}
		<title>{{ title }} - Student Service System</title>

		{% else %}
		<title>Student Service System</title>
		{% endif %}
		
		<!-- Bootstrap/CSS/JS -->
		<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
		{% block custom_css %}{% endblock %}

		<script src="{{ url_for('static', filename='js/jquery-3.1.0.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>

	<body>
		{% block content %}
		{% endblock %}
	</body>

</html>